blockquote {
  background: rgba(66, 185, 131, .1);
  border-left: 5px solid #42b983;
  color: var(--blockquote-color);
  margin: 10px 0;
  padding: 10px 15px;

  cite::before {
    content: '-';
    padding: 0 5px;
  }
}

blockquote>p, li>p {
  margin: 0;
}

code {
  border-radius: 2px;
  color: #e96900;
  background: #f8f8f8;
  padding: 1px 5px;
}

pre {
  background: #363636;
  padding: 15px 0px 15px 15px !important;
  font-family: Menlo, Monaco, Consolas, monospace;
}

figure {
  border-radius: 10px !important;
}

.code-container > .table-container {
  background: #363636;
}